extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js

//- TODO - Turn this into a table
//- (W11D4 Data-Driven Apps - Part 3)...
block content
  h1= title
  p Welcome to your Project Skeleton
  form(action="/users/logout", method='post')
   button(type="submit") Log Out
  div(class="errors-container")
  button(class="show-form-button") Create New Task
  div(class="form-container" hidden)
    form(class='new-task')
      input(class='user-input' id="name" type='text' placeholder='Task Name' name='name')
      input(class='user-input' type='text' placeholder='Description' name='description')
      input(class='user-input' type='number' placeholder='Priority' name='priority' )
      input(class='user-input' type='date' placeholder='Start Date' name='start_date' )
      input(class='user-input' type='date' placeholder='End Date' name='end_date' )
      input(class='user-input' type='checkbox' placeholder='Completed' name='completed')
      button(class='user-input tasksubmitbutton' type='submit' name='submit') Add Task
  div(class="table-container")
    table(class='tasks-table')
      thead
        tr
          th Task Name

      tbody(class='TBD')
        each task in tasks
          tr(class='TBD2')
            td(id=task.id class="task-td")= task.name
              span
                input(type="checkbox" class="completed-checkbox")
    div(class="task-view-container-hidden")
  script(src="/javascripts/index.js" type="module" defer)
