doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet", href="/stylesheets/sign-up.css")
        script(src="/javascripts/index.js")
  body
    block content
