extends layout

block content
    h1= Lists
    p Add to List
    div(class="lists-container")
    button(class="show-form-button" type="submit")

    div(class="form-container" hidden)

        form(class='new-task')
            input(class='user-input' id="name" type='text' placeholder='Task Name' name='name')
            input(class='user-input' type='text' placeholder='Description' name='description')
            input(class='user-input' type='number' placeholder='Priority' name='priority' )
            input(class='user-input' type='date' placeholder='Start Date' name='start_date' )
            input(class='user-input' type='date' placeholder='End Date' name='end_date' )
            input(class='user-input' type='checkbox' placeholder='Completed' name='completed')
            button(class='user-input tasksubmitbutton' type='submit' name='submit') Add Task

    div(class="lists")
       div(class="table-container")
            table(class='tasks-table')
                thead
                    tr
                        th Task Name

      tbody(class='TBD')
        each task in tasks
          tr(class='TBD2')
            td(id=task.id class="task-td")
              input(id="check" type="checkbox" class="completed-checkbox")
              label(id=task.id)=task.name
    div(class="task-view-container hidden")


  script(src="/javascripts/index.js" type="module" defer)
