extends layout.pug


block content
    div(class="sign-up-container")
        h1 Remember The Milk
            h2 Please complete to create your account.
                form(method="post" action="/users/sign-up")
                    input(type="hidden" name="_csrf" value=csrfToken)

                    input(class="user-input" type="text" placeholder="Username" name="username")

                    input(class="user-input" type="email" placeholder="email" name="email")

                    input(class="user-input" type="password" placeholder="Password" name="password")

                    input(class="user-input" type="password" placeholder="Confirm password" name="confirmPassword")

                    input(class="user-input" type="submit" name="submit")

                a(href="/users/login") Already have an account? Log in here.
