.task-view-container {
    display: block;
}

.hidden {
    display: none;
}


.priority-three {
    fill: red
}

.priority-two {
    fill:darkgoldenrod
}

.priority-one {
    fill: green
}

.task-view-container {
    float: right;
    height: 100%;
    width: 45%;
}

.trashcan {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    border: 0 none transparent;
    padding:0;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;

}

.trashcan > svg {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.li-items {
    display: flex;
}

