  input:checked + label {
    text-decoration: line-through;
}

/* Nav Bar */
.navbar {
  position: relative;
  background-color: #1C2725;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu-icon {
  height: 40px;
  width: 40px;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

}

.nav-links ul li {
  margin: 0;
  width: 150px;
  background-color: black;
}
.nav-links {
  position: absolute;
  top: 3;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s ease-in-out;
  background-color: black;
  height: 1000px;
  border-right: 3px solid #5DA09E;
  border-top: 3px solid #5DA09E;
}
.navbar {
  position: relative;
}
.nav-links.open-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.bar {
  transition-timing-function: ease-in;
  color: white !important;
}

.nav-links li a {
  background-color: black;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  background-color: #5DA09E;

}

li h1 {
  background-color: black;
  color: white;
  margin-bottom: 0;
}

.sub-list li a {
  margin-left: 30px;
  text-decoration: none;
}

.sub-tag li a {
  margin-left: 30px;
  text-decoration: none;
}
/* index page  */

.task-view-container {
  height: 995px !important;
  background-color: black;
  border-left: 3px solid #5DA09E;
  border-top: 3px solid #5DA09E;
}

.index-page-content.clicked {
  position: relative;
  left: 153px;
}

.table-container {
  padding: 0;
  margin: 0;
  height: 700px;
  overflow-y: scroll;
}

td {
  position: relative;
  list-style: none;
  padding: 10px 10px;
  background-color: #18191A;
  color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.task-label {
  font-size: 15px;
  padding-left: 10px;
}

.index-page-content {
  background-color: black;
}

.welcome-back-text {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.tasks-table {
  width: 100%;
}

.form-container label {
  color: white;
  margin-left: 5px;
  margin-right: 0;
  font-weight: bold;
}


p {
  color: white;
}

.task-name {
  background-color: #5DA09E;
  color: black;
  padding-left: 10px;
}

.show-form-button {
  margin: 10px;
}

.user-task-input {
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-bottom: 32px;
  margin-left: 6.08px;
  margin-right: 10px;
  margin-top: 32px;
  min-height: 23px;
  min-width: 126px;
  text-align: left;
  white-space: nowrap;
  width: auto;
  background-color: black;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid white;
}

.user-task-input-checkbox {
 margin-left: 5px;
 margin-right: 10px;
}

.body-index {
  background-color: black;
}

.index-logo {
  filter: drop-shadow(1px 1px 3px #404040);
  width: 34px;
  height: auto;
  margin-top: 10px;
  margin-left: 45px;
}

.index-button {
  border-radius: 5px;
  color: #ffffff;
  background-color: #5DA09E;
}
