/* Dak's Nav Bar */

/* .top-nav {
    display: flex;

}

.menu-container {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background-color: #e9e9e9;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  /* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  } */

  /* Fade out the second bar */
  /* .change .bar2 {
    opacity: 0;
  } */

  /* Rotate last bar */
  /* .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


  .nav-bar-three .logout-button {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-bar-three .logout-button:hover {
    background-color: #ddd;
    color: black;
  }

  .nav-bar-two .search-container {
    align-items: center;
  }

  .nav-bar-two input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .nav-bar-two .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .nav-bar-two .search-container button:hover {
    background: #ccc;
  }
  */

  input:checked + label {
    text-decoration: line-through;
}

/* Redo Nav Bar */
.navbar {
  position: relative;
  background-color: #1C2725;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu-icon {
  height: 40px;
  width: 40px;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

}

.nav-links ul li {
  margin: 0;
  width: 150px;
  background-color: black;
}
.nav-links {
  position: absolute;
  top: 3;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s ease-in-out;
  background-color: black;
  height: 100vh;
  border-right: 3px solid #5DA09E;
  border-top: 3px solid #5DA09E;
}
.navbar {
  position: relative;
}
.nav-links.open-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.bar {
  transition-timing-function: ease-in;
  color: white !important;
}

.nav-links li a {
  background-color: black;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  background-color: #5DA09E;

}

li h1 {
  background-color: black;
  color: white;
  margin-bottom: 0;
}

.sub-list {
  display: none;
  position: absolute;
}


/* index page  */

.task-view-container {
  height: 995px !important;
  background-color: black;
  border-left: 3px solid #5DA09E;
  border-top: 3px solid #5DA09E;
}

.index-page-content.clicked {
  position: relative;
  left: 153px;
}

.table-container {
  padding: 0;
  margin: 0;
  height: 890px;
}

td {
  position: relative;
  list-style: none;
  padding: 10px 10px;
  background-color: #18191A;
  color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.task-label {
  font-size: 15px;
  padding-left: 10px;
}

.index-page-content {
  background-color: black;
}

.welcome-back-text {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.tasks-table {
  width: 100%;
}


p {
  color: white;
}

p:hover {
  color: #5DA09E;
}

.task-name {
  background-color: #5DA09E;
  color: black;
  padding-left: 10px;
}

.show-form-button {
  margin: 10px;
}

.user-task-input {
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-bottom: 32px;
  margin-left: 6.08px;
  margin-top: 32px;
  min-height: 23px;
  min-width: 126px;
  text-align: left;
  white-space: nowrap;
  width: auto;
  background-color: black;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid white;
}

.body-index {
  background-color: black;
}
