@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

h1 {
    padding: 10px;
    color: #555555;
}

a:hover {
    font-weight: bold;
}

.logo {
  width: 40px;
  height: auto;
  position: relative;
  top: 10px;
  margin-left: 10px;
  filter: drop-shadow(1px 1px 3px #404040);
}

.sign-up-header {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 7.00px;
    line-height: 21px;
    min-height: 52px;
    min-width: 432px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    color: white;
    font-family: 'SourceSans Pro-Bold', Helvetica, Arial, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 10px;
}

.sign-up-text {
    color: white;
    font-family: 'SourceSans Pro-Regular', Helvetica, Arial, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
}

.user-input {
  height: auto;
  letter-spacing: 0.00px;
  line-height: 25px;
  margin-bottom: 32px;
  margin-left: 6.08px;
  margin-top: 32px;
  min-height: 23px;
  min-width: 126px;
  text-align: left;
  white-space: nowrap;
  width: auto;
  background-color: #427271;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid white;
}

::placeholder {
    color: white;
}

.sign-up-button {
    margin-top: 22px;
    margin-bottom: 22px;
    color: #427271;
    height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 960px;

}

.sign-up-container {
    background-color: #427271;
    align-content: center;
}

.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sign-up-form-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.image-container {
    background-color: black;
    background-image: url("../media/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theme-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    color: #427271;
}

.error-msg {
    color: #0a0c10;
    font-size: 14px;
}

/* light mode  */
.image-container.light {
    background-color: white;
    background-image: url("../media/image-light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theme-toggle-button.light {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DA09E;
    color: white;
}

.sign-up-container.light {
    background-color: #ffffff;
    align-content: center;
}

.sign-up-button.light {
    margin-top: 22px;
    margin-bottom: 22px;
    color: white;
    height: 40px;
    background-color: #5DA09E;
}

.user-input.light::placeholder {
    color: #5DA09E;
}

.user-input.light {
    height: auto;
    letter-spacing: 0.00px;
    line-height: 25px;
    margin-bottom: 32px;
    margin-left: 6.08px;
    margin-top: 32px;
    min-height: 23px;
    min-width: 126px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    background-color: white;
    color: #5DA09E;
    border: none;
    border-bottom: 2px solid #5DA09E;
  }

  .sign-up-header.light {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 7.00px;
    line-height: 21px;
    min-height: 52px;
    min-width: 432px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    color: #427271;
    font-family: 'SourceSans Pro-Bold', Helvetica, Arial, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 10px;
}

.sign-up-text.light {
    color: #5DA09E;
    font-family: 'SourceSans Pro-Regular', Helvetica, Arial, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
}

::placeholder.light {
    color: #5DA09E;
}

.error-msg.light {
    color: #5DA09E;
    font-size: 14px;
}
